@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: "Cornerstone";
  src: url("./assets/fonts/Cornerstone.ttf");
}
@font-face {
  font-family: "Isidora";
  src: url("./assets/fonts/isidora-regular.otf");
}
@font-face {
  font-family: "Simplifica";
  src: url("./assets/fonts/SIMPLIFICA.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes farrow {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sarrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tarrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
.af {
  animation: farrow 0.5s ease-in infinite;
}
.as {
  animation: sarrow 0.5s ease-in infinite;
}
.at {
  animation: tarrow 0.5s ease-in infinite;
}
